.newexecutebutton {
    background-color: rgb(60, 96, 196);
    color: white;
    width: 300px;
    margin-top: 40px;
    margin-left: 20px;
    
    
}

.newexecutebutton:hover {
    background-color: rgb(0, 0, 0);
}

.header {
    width: 100vw;
    height: 20vh;
    background-color: #2f68b3;
    margin-bottom: 20px;
    font-size: 30px; /* Change the font size */
    font-family: Arial , sans-serif; /* Change the font family */
    color: white; /* Change the text color */
    text-align: center; /* Center the text horizontally */
    line-height: 20vh; /* Vertically center the text within the header */
}

/* Style the input field */
.inputfield {
    background-color: #ffffff;

    align-content: center;
    /* Other styles for the input field */
}

/* Hide the text inside the input field on hover */
.inputfield:hover::placeholder {
    text-align: center;
    color: transparent;
}
